# Finding Symbols


Finding the ticker symbol, security identifier, the sector, and other metadata is easy if you know where to look.  This guide is intended to introduce some methods for searching, screening, and discovery.

For maximum coverage and functionality, install OpenBB with `[all]` packages.

The examples here will assume that the OpenBB Platform has been installed, the environment is active, and it has been imported into a Python session.  If the installation is fresh, or an extension was just installed, the Python interface will need to be rebuilt.  It will only take a few moments to complete.

In [1]:
from openbb import obb

The simplest way to find tickers is with a basic text query.

## Search Nasdaq

In [2]:
obb.equity.search("JPMorgan", provider="nasdaq").to_df().head(3)

,symbol,name,nasdaq_traded,exchange,market_category,etf,round_lot_size,test_issue,financial_status,cqs_symbol,nasdaq_symbol,next_shares
0,AMJ,JPMorgan Chase Capital XVI JP Morgan Alerian M...,Y,P,None,N,100.0,N,None,AMJ,AMJ,N
1,AMJB,JPMorgan Chase & Co. Alerian MLP Index ETNs du...,Y,P,None,Y,100.0,N,None,AMJB,AMJB,N
2,BBAG,JPMorgan BetaBuilders U.S. Aggregate Bond ETF,Y,P,None,Y,100.0,N,None,BBAG,BBAG,N

## Search Cboe

In [3]:
obb.index.search("SPX", provider="cboe").to_df().tail(5)

,symbol,name,description,data_delay,currency,time_zone,open_time,close_time,tick_days,tick_frequency,tick_period
32,SPXVIV,PROSHARES S&P 500 EX-HEALTH CARE ETF,PROSHARES S&P 500 EX-HEALTH CARE ETF,15,USD,America/Chicago,08:00:00,16:00:00,MonToFri,C,Regular
33,VIX1D,Cboe 1-Day Volatility Index®,Estimates expected volatility by aggregating t...,15,USD,America/Chicago,08:00:00,16:00:00,MonToFri,C,Regular
34,VIX3M,Cboe S&P 500 3 Month Volatility Index,The Cboe 3-Month Volatility Index (VIX3M) is d...,15,USD,America/Chicago,08:00:00,16:00:00,MonToFri,C,Regular
35,WPUT,Cboe S&P 500 One-Week PutWrite Index,Tracks the value of a portfolio that overlays ...,15,USD,America/Chicago,08:00:00,16:00:00,MonToFri,C,Regular
36,XSPAM,Mini SPX Index (AM Settlement),Mini SPX Index (AM Settlement),15,USD,America/Chicago,08:00:00,16:00:00,MonToFri,C,Regular

## Search ETFs

In [4]:
obb.etf.search("gold", provider="tmx").to_df().iloc[-5:]

,symbol,name,short_name,inception_date,issuer,investment_style,esg,currency,unit_price,close,...,avg_volume,avg_volume_30d,aum,pe_ratio,pb_ratio,management_fee,mer,distribution_yield,dividend_frequency,beta_20y
17,VALT.B,CI Gold Bullion Fund,VALT.B:CA,2021-03-17,CI Global Asset Management,Gold,False,CAD,27.23,27.31,...,430,1428,14976500.0,NaN,NaN,0.00155,NaN,0.015347,Annually,NaN
18,VALT.U,CI Gold Bullion Fund,CI Gold Bullion,2021-01-06,CI Global Asset Management,Gold,False,USD,20.25,20.22,...,690,4747,28147500.0,NaN,NaN,0.00155,NaN,0.016145,Annually,NaN
19,XGD,iShares S&P/TSX Global Gold Index ETF,iShares S&P/TSX,2001-03-23,RBC iShares,Mid Cap Growth,False,CAD,15.15,15.15,...,456399,1194453,986265000.0,26.4436,1.9090,0.00610,0.0061,0.016213,Semi-Annually,0.560996
20,ZGD,BMO Equal Weight Global Gold Index ETF,BMO Equal Weight,2012-11-14,BMO ETF,Mid Cap Blend,False,CAD,65.30,63.90,...,436,3417,41396935.0,17.2285,1.3891,0.00550,0.0062,0.008305,Annually,NaN
21,ZJG,BMO Junior Gold Index ETF,BMO Junior Gold,2010-01-19,BMO ETF,Small Cap Blend,True,CAD,57.90,58.10,...,511,1491,52271541.0,26.8283,1.5310,0.00550,0.0061,0.009537,Annually,NaN

In [5]:
obb.etf.search("covered call", provider="fmp").to_df().iloc[:5]

,symbol,name,market_cap,sector,industry,beta,price,last_annual_dividend,volume,exchange,exchange_name,country,actively_trading,isFund
0,QYLD,Global X NASDAQ 100 Covered Call ETF,7.851962e+09,,None,0.65,17.8200,2.06171,1216103.0,NASDAQ,NASDAQ Global Market,US,True,False
1,XYLD,Global X S&P 500 Covered Call ETF,2.750881e+09,,None,0.53,40.0998,3.94248,64645.0,AMEX,New York Stock Exchange Arca,US,True,False
2,ZWU.TO,BMO Covered Call Utilities ETF,1.698515e+09,,None,0.67,10.0300,0.86000,56572.0,TSX,Toronto Stock Exchange,CA,True,False
3,ZWC.TO,BMO CA High Dividend Covered Call ETF,1.602642e+09,,None,0.89,17.0200,1.19000,17235.0,TSX,Toronto Stock Exchange,CA,True,False
4,RYLD,Global X Russell 2000 Covered Call ETF,1.406859e+09,Miscellaneous,Investment Trusts/Mutual Funds,0.56,16.4900,1.87702,133691.0,AMEX,New York Stock Exchange Arca,US,True,False

## Search the SEC

Use an empty string, `""`, to return the complete list - over 10,000.

The SEC sorts this list by market cap.  Applying the `to_df()` method to `all_companies` will show them from biggest-to-smallest.

In [8]:
all_companies = obb.equity.search("", provider="sec")

print(len(all_companies.results))

all_companies.to_df().head(10)

10551

  symbol                                       name      cik
0   MSFT                             MICROSOFT CORP   789019
1   AAPL                                 Apple Inc.   320193
2  GOOGL                              Alphabet Inc.  1652044
3   NVDA                                NVIDIA CORP  1045810
4   AMZN                             AMAZON COM INC  1018724
5   META                       Meta Platforms, Inc.  1326801
6  BRK-B                     BERKSHIRE HATHAWAY INC  1067983
7    LLY                             ELI LILLY & Co    59478
8    TSM  TAIWAN SEMICONDUCTOR MANUFACTURING CO LTD  1046179
9   AVGO                              Broadcom Inc.  1730168

### Find an Institution

Some reporting companies, like invesment trusts and insurance companies, do not have a ticker symbol directly associated with them.  Filers in the US will have a CIK number, used to retrieve documents from the SEC.

In [9]:
instututions = obb.regulators.sec.institutions_search("Berkshire Hathaway").to_df()
instututions

                                               name         cik
0                      BERKSHIRE HATHAWAY ENERGY CO  0001081316
1                   BERKSHIRE HATHAWAY FINANCE CORP  0001274791
2        BERKSHIRE HATHAWAY HOMESTATE INSURANCE CO.  0000829771
3                       BERKSHIRE HATHAWAY INC /DE/  0000109694
4                         BERKSHIRE HATHAWAY INC/DE  0000109694
5                            BERKSHIRE HATHAWAY INC  0001067983
6  BERKSHIRE HATHAWAY LIFE INSURANCE CO OF NEBRASKA  0001015867
7                       LMZ & BERKSHIRE HATHAWAY CO  0001652795

### Find a Filing

Search for filings by CIK or ticker symbol.

In [10]:
homestate_filings = obb.equity.fundamental.filings(cik="0000829771", provider="sec")

homestate_filings.to_df().iloc[-1]

filing_date                                                       2003-02-14
accepted_date                                            2003-02-14 00:00:00
report_type                                                           13F-NT
filing_url                 https://www.sec.gov/Archives/edgar/data/000082...
report_url                 https://www.sec.gov/Archives/edgar/data/000082...
report_date                                                       2002-12-31
act
items
primary_doc_description                 FORM 13F-NT, PERIOD ENDED 12/31/2002
primary_doc                                              a87269a7e13fvnt.txt
accession_number                                        0000950150-03-000213
file_number                                                        028-02226
film_number                                                         03565329
is_inline_xbrl                                                             0
is_xbrl                                                                    0
size                                                                    4246
complete_submission_url    https://www.sec.gov/Archives/edgar/data/000082...
Name: 84, dtype: object

Or, search by form type.

In [12]:
aapl_filings = obb.equity.fundamental.filings("AAPL", type="4", provider="sec")

aapl_filings.to_df().iloc[0]

filing_date                                                       2024-01-11
accepted_date                                            2024-01-11 00:00:00
report_type                                                          DEF 14A
filing_url                 https://www.sec.gov/Archives/edgar/data/000032...
report_url                 https://www.sec.gov/Archives/edgar/data/000032...
report_date                                                       2024-02-28
act                                                                       34
items
primary_doc_description                                 APPLE INC. - DEF 14A
primary_doc                                             laapl2024_def14a.htm
accession_number                                        0001308179-24-000010
file_number                                                        001-36743
film_number                                                         24529569
is_inline_xbrl                                                             1
is_xbrl                                                                    1
size                                                                 9051163
complete_submission_url    https://www.sec.gov/Archives/edgar/data/000032...
Name: 0, dtype: object

## Screen Markets

Screeners provide a targeted search, a tool for comparison and discovery.  Find stocks from around the world with the screener endpoint, and the `openbb-fmp` provider.

### Find Stocks From India

In [13]:
results = obb.equity.screener(country="IN", provider="fmp").to_df()
display(len(results))
results.head(5).convert_dtypes()

5673

,symbol,name,market_cap,sector,industry,beta,price,last_annual_dividend,volume,exchange,exchange_name,country,is_etf,actively_trading,isFund
0,RELIANCE.NS,Reliance Industries Limited,20104143261030,Energy,Oil & Gas Refining & Marketing,0.608,2971.3,9,5412782,NSE,National Stock Exchange of India,IN,False,True,False
1,RELIANCE.BO,Reliance Industries Limited,20098053761843,Energy,Oil & Gas Refining & Marketing,0.608,2970.4,9,83211,BSE,Bombay Stock Exchange,IN,False,True,False
2,TCS.NS,Tata Consultancy Services Limited,14850088530330,Technology,Information Technology Services,0.531,4104.4,51,2960088,NSE,National Stock Exchange of India,IN,False,True,False
3,TCS.BO,Tata Consultancy Services Limited,14844299652000,Technology,Information Technology Services,0.531,4102.8,51,334830,BSE,Bombay Stock Exchange,IN,False,True,False
4,HDFCBANK.BO,HDFC Bank Limited,10790199234483,Financial Services,Banks - Regional,0.79,1420.55,19,216503,BSE,Bombay Stock Exchange,IN,False,True,False

### Search by Sector

In [14]:
sector_results = obb.equity.screener(country="IN", sector="Financial Services", provider="fmp").to_df()
display(len(sector_results))
sector_results.head(5).convert_dtypes()

376

,symbol,name,market_cap,sector,industry,beta,price,last_annual_dividend,volume,exchange,exchange_name,country,is_etf,actively_trading,isFund
0,HDFCBANK.BO,HDFC Bank Limited,10790199234483,Financial Services,Banks - Regional,0.79,1420.55,19.0,216503,BSE,Bombay Stock Exchange,IN,False,True,False
1,HDFCBANK.NS,HDFC Bank Limited,10704479740109,Financial Services,Banks—Regional,0.714285,1420.15,19.0,16040740,NSE,National Stock Exchange of India,IN,False,True,False
2,ICICIBANK.BO,ICICI Bank Limited,7441727264794,Financial Services,Banks—Regional,0.825,1060.35,8.0,178844,BSE,Bombay Stock Exchange,IN,False,True,False
3,ICICIBANK.NS,ICICI Bank Limited,7440674537779,Financial Services,Banks—Regional,0.825,1060.2,8.0,10580709,NSE,National Stock Exchange of India,IN,False,True,False
4,SBIN.NS,State Bank of India,6692118460570,Financial Services,Banks—Regional,0.781,749.85,11.3,13966117,NSE,National Stock Exchange of India,IN,False,True,False

### Search by Industry

In [15]:
industry_results = obb.equity.screener(country="IN", industry="manufacturing").to_df()
display(len(industry_results))
industry_results.head(5)

344

,symbol,name,market_cap,sector,industry,beta,price,last_annual_dividend,volume,exchange,exchange_name,country,is_etf,actively_trading,isFund
0,PAGEIND.NS,Page Industries Limited,3.979243e+11,Consumer Cyclical,Apparel Manufacturing,0.517,35675.80,400.0,19671,NSE,National Stock Exchange of India,IN,False,True,False
1,PAGEIND.BO,Page Industries Limited,3.969506e+11,Consumer Cyclical,Apparel Manufacturing,0.517,35588.50,400.0,1161,BSE,Bombay Stock Exchange,IN,False,True,False
2,KPRMILL.NS,K.P.R. Mill Limited,2.616415e+11,Consumer Cyclical,Apparel Manufacturing,0.751,765.45,4.5,829576,NSE,National Stock Exchange of India,IN,False,True,False
3,KPRMILL.BO,K.P.R. Mill Limited,2.615561e+11,Consumer Cyclical,Textile Manufacturing,0.751,765.20,4.5,9053,BSE,Bombay Stock Exchange,IN,False,True,False
4,MANYAVAR.BO,Vedant Fashions Limited,2.406450e+11,Consumer Cyclical,Apparel Manufacturing,-0.348,990.90,9.0,4248,BSE,Bombay Stock Exchange,IN,False,True,False

### Search by Exchange

Some countries, like America, have multiple exchanges.  Narrow the search by combining two or more parameters.  The example below finds the companies listed on the American Stock Exchange (AMEX) that are domiciled in China.

In [16]:
exchange_results = obb.equity.screener(exchange="amex", country="CN").to_df()
display(len(exchange_results))
exchange_results

4

,symbol,name,market_cap,sector,industry,beta,price,volume,exchange,exchange_name,country,is_etf,actively_trading,isFund
0,AMBO,Ambow Education Holding Ltd.,63818550,Consumer Defensive,Education & Training Services,0.559,2.2500,27302,AMEX,American Stock Exchange,CN,False,True,False
1,CPHI,"China Pharma Holdings, Inc.",4107363,Healthcare,Drug Manufacturers—Specialty & Generic,0.970,0.0774,848792,AMEX,American Stock Exchange,CN,False,True,False
2,ITP,"IT Tech Packaging, Inc.",3104324,Basic Materials,Paper & Paper Products,-0.224,0.3084,6467,AMEX,American Stock Exchange,CN,False,True,False
3,DXF,Dunxin Financial Holdings Limited,1375084,Financial Services,Credit Services,1.154,0.3460,39167,AMEX,American Stock Exchange,CN,False,True,False

### Filter by Metric

Applying some filters refines and targets the search. The example below finds listing on the NYSE domiciled in the USA, with a market cap between $100-300 billion, and exhibiting a beta value of less than 0.5

In [17]:
obb.equity.screener(
  exchange="nyse",
  mktcap_min=100000000000,
  mktcap_max=300000000000,
  country="us",
  beta_max=0.5,
  provider="fmp",
).to_df()

,symbol,name,market_cap,sector,industry,beta,price,last_annual_dividend,volume,exchange,exchange_name,country,is_etf,actively_trading,isFund
0,VZ,Verizon Communications Inc.,166288131058,Communication Services,Telecom Services,0.403,39.5522,2.66,3715659,NYSE,New York Stock Exchange,US,False,True,False
1,PGR,The Progressive Corporation,111312278918,Financial Services,Insurance—Property & Casualty,0.345,190.0500,1.15,695689,NYSE,New York Stock Exchange,US,False,True,False
2,LMT,Lockheed Martin Corporation,103775136301,Industrials,Aerospace & Defense,0.488,429.4564,12.60,204961,NYSE,New York Stock Exchange,US,False,True,False
3,BMY,Bristol-Myers Squibb Company,101615045088,Healthcare,Drug Manufacturers—General,0.371,50.2500,2.40,2113879,NYSE,New York Stock Exchange,US,False,True,False

## Get Available Indices

List all indices from a source with:

In [18]:
indices = obb.index.available(provider="yfinance").to_df()
print(len(indices))

indices[indices["name"].str.contains("ASX 200")]

274

,name,code,symbol
88,S&P/ASX 200 Index (AUD),au_asx200,^AXJO
90,S&P/ASX 200 Energy Sector Index (AUD),au_energy,^AXEJ
91,S&P/ASX 200 Resources Sector Index (AUD),au_resources,^AXJR
92,S&P/ASX 200 Materials Sector Index (AUD),au_materials,^AXMJ
94,S&P/ASX 200 Industrials Sector Index (AUD),au_industrials,^AXNJ
95,S&P/ASX 200 Consumer Discretionary Sector Inde...,au_discretionary,^AXDJ
96,S&P/ASX 200 Consumer Staples Sector Index (AUD),au_staples,^AXSJ
97,S&P/ASX 200 Health Care Sector Index (AUD),au_health,^AXHJ
98,S&P/ASX 200 Financials Sector Index (AUD),au_financials,^AXFJ
99,S&P/ASX 200 A-REIT Industry Index (AUD),au_reit,^AXPJ
100,S&P/ASX 200 Info Tech Sector Index (AUD),au_tech,^AXIJ
101,S&P/ASX 200 Communications Sector Index (AUD),au_communications,^AXTJ
102,S&P/ASX 200 Utilities Sector Index (AUD),au_utilities,^AXUJ

Filter the list down by querying the DataFrame.

With the `openbb-yfinance` extension, index time series can be  loaded using the ticker symbol or short code.  Non-American indices have a code beginning with the two-letter country code.

In [21]:
(
    obb.index.price.historical("au_utilities", provider="yfinance").to_df().tail(1)
    == obb.index.price.historical("^AXUJ", provider="yfinance").to_df().tail(1)
)

            open  high   low  close  volume
date
2024-02-27  True  True  True   True    True